.p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

.h2-light {
    font-size: 36px;
    font-weight: 300;
    line-height: 44px;
}