* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: 0;
  color: inherit;
}

ul li,
ol li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

button {
  display: block;
  border: none;
  color: inherit;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 84px;
}

body {
  font-family: "Montserrat";
  background-color: #302C42;
}

.header {
  padding-top: 50px;
  position: relative;
}
.header .container .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .container .logo .img-logo {
  transition: all 0.4s ease-in-out;
}
.header .container .logo:hover .img-logo {
  transform: rotate(360deg);
}
.header .container .header__nav-links {
  display: flex;
  align-items: center;
  gap: 42px;
}
.header .container .header__nav-links a {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
}
.header .container .header__nav-links a:hover {
  border-bottom: 1px solid #fff;
}
.header .container .header__nav-btn {
  display: flex;
  gap: 38px;
}
.header .container .header__nav-btn button {
  border-radius: 40px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  transition: all 0.25s ease-in-out;
}
.header .container .header__nav-btn button:hover {
  transform: scale(1.1);
}
.header .container .header__nav-btn .header__btn {
  padding: 15px 36px;
  color: #fff;
  border: 2px solid #fff;
}
.header .container .header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 125px;
}
.header .container .header__main .header__main-text {
  display: flex;
  flex-direction: column;
  gap: 35px;
  color: #fff;
  width: 455px;
}
.header .container .header__main .header__main-caption {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.header .container .header__main .header__main-caption .color-1 {
  background: linear-gradient(156.04deg, rgb(192, 183, 232), rgb(129, 118, 175));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .container .header__main .header__main-caption .color-2 {
  color: rgb(192, 183, 232);
}
.header .container .header__main .header__main-btn {
  margin-top: 32px;
  display: flex;
  position: relative;
  width: 260px;
}
.header .container .header__main .header__main-btn .btn-decor {
  position: absolute;
  top: 6px;
  left: 220px;
  transition: all 0.3s ease-in-out;
}
.header .container .header__main .header__main-btn:hover .btn-decor {
  left: 260px;
}
.header .container .header__main .header__main-picture {
  width: 500px;
  height: 430px;
}
.header .container .header__main .header__main-picture img {
  border: 20px solid rgba(0, 0, 0, 0);
  border-radius: 120px 120px 130px 270px;
  background-color: rgba(0, 0, 0, 0.13);
}
.header .container .contacts {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  height: 167px;
  border-radius: 90px;
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
  background: #3A3456;
  background: -moz-radial-gradient(center, #3A3456 0%, #211E2E 100%);
  background: -webkit-radial-gradient(center, #3A3456 0%, #211E2E 100%);
  background: radial-gradient(ellipse at center, #3A3456 0%, #211E2E 100%);
}
.header .container .contacts .contact {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .container .contacts .contacts__inf {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.header .container .contacts .contacts__inf .title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.header .container .contacts .contacts__inf .sub-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.vector {
  position: absolute;
  z-index: -10;
}

.vector-1 {
  right: 0;
}

.vector-2 {
  top: 0;
  right: 135px;
}

.vector-3 {
  top: 420px;
  right: 0;
}

.vector-4 {
  top: 275px;
  left: 0;
}

.vector-5 {
  width: 1350px;
  bottom: 280px;
}

.vector-6 {
  bottom: 0;
  right: 0;
}

.introduction {
  position: relative;
}
.introduction .container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.introduction .container .introduction__groupe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.introduction .container .introduction__groupe .text {
  width: 630px;
}
.introduction .container .introduction__groupe.desc .about-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.introduction .container .introduction__groupe.desc .about-text .simple-btn {
  align-self: flex-start;
}
.introduction .container .introduction__groupe.desc .about-text .h2.title {
  margin-bottom: 12px;
}

.simple-btn {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  border-radius: 40px;
  background: linear-gradient(90deg, rgb(129, 118, 175), rgb(192, 183, 232) 100%);
  color: #343045;
  padding: 17px 38px;
  transition: all 0.3s ease-in-out;
}
.simple-btn:hover {
  transform: scale(1.05);
}

.p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.h2-light {
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
}

.build {
  margin-top: 110px;
}
.build .build__row {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.build .build__row-item {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 30px 40px;
  width: 310px;
  border-radius: 40px;
  background: radial-gradient(50% 50% at 50% 50%, rgb(67, 61, 96), rgb(33, 30, 46) 100%);
}
.build .build__row-item .item-picture {
  margin-bottom: 21px;
}
.build .build__row-item .item-title {
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.build .build__row-item .item-line {
  margin-bottom: 21px;
}
.build .build__row-item .item-text {
  margin-bottom: 35px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.caption .caption__title {
  position: relative;
}
.caption .caption__title .h2.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.caption .caption__title .title-decor {
  position: absolute;
  top: 17px;
  right: -250px;
}
.caption .text {
  width: 655px;
}

.techno {
  color: #fff;
  margin-top: 114px;
}
.techno .container .techno__picture {
  text-align: center;
  padding-top: 108px;
  padding-bottom: 108px;
  width: 1280px;
  background-image: url(../../img/techno-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 54px;
}
.techno .container .techno__picture .techno__picture-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}
.techno .container .techno__picture .techno__picture-subtitle {
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
}
.techno .container .techno__picture .down {
  position: absolute;
  bottom: -50px;
  left: 586px;
  width: 100px;
  height: 100px;
  background-image: url(../../img/down-backg.png);
}
.techno .container .techno__picture .down .down-sing {
  animation: bang infinite 3s;
}
@keyframes bang {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.3);
  }
}
.techno .container .techno__parteners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 30px;
  margin-bottom: 84px;
}

.build_steps-group {
  display: flex;
  justify-content: space-between;
}
.build_steps-group .build_steps-item {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0%;
  text-align: left;
}
.build_steps-group .build_steps-item .subnumber {
  display: flex;
  width: 190px;
  height: 64px;
}
.build_steps-group .build_steps-item .subnumber img {
  width: 27.92px;
  height: 22.33px;
}/*# sourceMappingURL=main.css.map */