* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: 0;
  color: inherit;
}

ul li,
ol li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

button {
  display: block;
  border: none;
  color: inherit;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 84px;
}

body {
  font-family: "Montserrat";
  background-color: #302C42;
}

.header {
  padding-top: 50px;
  position: relative;
}
.header .container .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .container .logo .img-logo {
  transition: all 0.4s ease-in-out;
}
.header .container .logo:hover .img-logo {
  transform: rotate(360deg);
}
.header .container .header__nav-links {
  display: flex;
  align-items: center;
  gap: 42px;
}
.header .container .header__nav-links a {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
}
.header .container .header__nav-links a:hover {
  border-bottom: 1px solid #fff;
}
.header .container .header__nav-btn {
  display: flex;
  gap: 38px;
}
.header .container .header__nav-btn button {
  border-radius: 40px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  transition: all 0.25s ease-in-out;
}
.header .container .header__nav-btn button:hover {
  transform: scale(1.1);
}
.header .container .header__nav-btn .header__btn {
  padding: 15px 36px;
  color: #fff;
  border: 2px solid #fff;
}
.header .container .header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 125px;
}
.header .container .header__main .header__main-text {
  display: flex;
  flex-direction: column;
  gap: 35px;
  color: #fff;
  width: 455px;
}
.header .container .header__main .caption {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.header .container .header__main .caption .color-1 {
  background: linear-gradient(156.04deg, rgb(192, 183, 232), rgb(129, 118, 175));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .container .header__main .caption .color-2 {
  color: rgb(192, 183, 232);
}
.header .container .header__main .header__main-btn {
  margin-top: 32px;
  display: flex;
  position: relative;
  width: 260px;
}
.header .container .header__main .header__main-btn .btn-decor {
  position: absolute;
  top: 6px;
  left: 220px;
  transition: all 0.3s ease-in-out;
}
.header .container .header__main .header__main-btn .simple-btn {
  transition: all 0.3s ease-in-out;
}
.header .container .header__main .header__main-btn:hover .btn-decor {
  left: 260px;
}
.header .container .header__main .header__main-btn:hover .simple-btn {
  transform: scale(1.03);
}
.header .container .header__main .header__main-picture {
  width: 500px;
  height: 430px;
}
.header .container .header__main .header__main-picture img {
  border: 20px solid rgba(0, 0, 0, 0);
  border-radius: 120px 120px 130px 270px;
  background-color: rgba(0, 0, 0, 0.13);
}
.header .container .contacts {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  height: 167px;
  border-radius: 90px;
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
  background: #3A3456;
  background: -moz-radial-gradient(center, #3A3456 0%, #211E2E 100%);
  background: -webkit-radial-gradient(center, #3A3456 0%, #211E2E 100%);
  background: radial-gradient(ellipse at center, #3A3456 0%, #211E2E 100%);
}
.header .container .contacts .contact {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .container .contacts .contacts__inf {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.header .container .contacts .contacts__inf .title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.header .container .contacts .contacts__inf .sub-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.vector {
  position: absolute;
  z-index: -10;
}

.vector-1 {
  right: 0;
}

.vector-2 {
  top: 0;
  right: 135px;
}

.vector-3 {
  top: 420px;
  right: 0;
}

.vector-4 {
  top: 275px;
  left: 0;
}

.simple-btn {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  border-radius: 40px;
  background: linear-gradient(90deg, rgb(129, 118, 175), rgb(192, 183, 232) 100%);
  color: #343045;
  padding: 17px 38px;
}

.p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}/*# sourceMappingURL=main.css.map */