@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  transition: all ease-in 1s;
}
.header {
  background-image: url(../img/header-backgraund.svg);
  background-blend-mode: color;
  background-color:rgba(0, 0, 0, 0.193);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 5% 5%;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.logo {
  cursor: pointer;
  width: 150px;
}
.conteiner-btn {
  display: flex;
  justify-content: end;
  width: 70%;
  gap: 2%;
}
.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  color:#FFD703;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  transition: all 0.6s;
  transition-delay: .1s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid #FFD703;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 50px;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #FFD703;
  transition: all 0.3s;
  border-radius: 50px;
  z-index: -1;
}
.button:hover {
  color:black;
  stroke: black;
}
.button:hover:before {
  width: 100%;
}
.button svg {
  margin-top: 1.5px;
  margin-left: 1px;
  position: absolute;
}
.simple-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #2C2C2C;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 50px;
  gap: 12px;
  border-radius: 50px;
  background:#FFD703;
  transition: all ease-in-out .3s;
}
.simple-btn:hover {
  background-color: #d7b400;
}
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 5% 0 10%;
}
.header__main-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 55%;
  gap: 50px;
}
.header__main-play {
  width: 25%;
  cursor: pointer;
}
.header__main-title {
  color: #F4F4F4;
  font-size: 106px;
  font-weight: 400;
  line-height: 137px;
}
.header__main-subtitle {
  width: 690px;
  color: #CEFFFD;
  font-size: 24px;
  font-weight: 500;
}
.title {
  font-size: 60px;
  font-weight: 400;
}
.header__howwork {
  color: #F4F4F4;
}
.header__howwork-group {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.header__howwork-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  width: 31.5%;
  gap: 16px;
  padding: 32px;
  border-radius: 16px;
  background:rgba(255, 255, 255, 0.50);
  transition: all ease-in .23s;
}
.header__howwork-item:hover {
  background:rgba(255, 255, 255, 0.57);
}
.howwork__item-icn {
  width: 70px;
}
.howwork__item-title {
  color: #F4F4F4;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.25px;
}
.howwork__item-subtitle {
  color: #CEFFFD;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
}
/* Burger */
.c-hamburger {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  box-shadow: none;
  cursor: pointer;
  border: none;
  background-color:white;
  border-radius: 10px;
  opacity: 0.80;
}
.c-hamburger:focus {
  outline: none;
  transition: ease-in;
  transition-duration: 1s;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 25px;
  left: 11px;
  right: 11px;
  height: 3px;
  background: #3FC2BB;
}
.c-hamburger span::after,
.c-hamburger span::before {
  display: block;
  position: absolute;
  right: 0;
  height: 3px;
  width: 100%;
  background: #3FC2BB;
  content: "";
}
.c-hamburger-line span::before {
  transition: top, transform;
  top: -7px;
}
.c-hamburger-line span::after {
  transition: bottom, transform;
  bottom: -7px;
}
.c-hamburger-line.is-active span {
  background: none;
}
.c-hamburger.is-active {
  background-color: #3FC2BB;
}
.c-hamburger-line.is-active span::before,
.c-hamburger-line.is-active span::after {
  background-color: #E9ECF0;
  transition: ease-in;
  transition-duration: 1s;
}
.c-hamburger-line.is-active span::before {
  top: 0;
  transform: rotate(-45deg);
}
.c-hamburger-line.is-active span::after {
  bottom: 0;
  transform: rotate(45deg);
}
#menu {
  width: 20%;
  margin-right: -16.5%;
  font-size: 0;
  background-color: inherit;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 69;
  transition: all ease-in 1s;
}
#menu.nav-active {
  font-size: 20px;
  transition: all ease-in 1s;
  margin-right: 0;
  background: #3FC2BB;
}
.body-active {
  margin-right: 18%;
}
.nav-active ul{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  color: #FFF;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 3px;
  gap: 5px;
}
.nav-active li {
  padding-bottom: 2px;
  transition: linear .3s;
  transition-delay: .1s;
}
.nav-active li:hover {
  border-bottom: 2px solid #FFD703;
  cursor: pointer;
}
.nav-active li:active {
  transition-duration: 0s;
  border-bottom: 2px solid white;
  color: #E9ECF0;
}
/* Burger */
/* Main */
.main {
  padding: 10% 5%;
}
.why {
  display: flex;
  flex-direction: column;
  gap: 70px;
  color: #373737;
}
.why__group {
  display: flex;
  justify-content: space-between;
}
.why__group-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 32%;
}
.person-love-picture:hover {
  animation: 1.5s linear 1 rotate;
  animation-direction: alternate;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.person-love {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: nowrap;
}
.person-love-name {
  font-size: 32px;
  font-weight: 400;
}
.person-love-profecsion {
  color:#3FC2BB;
  font-size: 16px;
  font-weight: 600;
}
.why__group-item-text,
.graphic__text {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
}
.graphic__text {
  width: 55%;
}
.graphic__backgraund {
  position: absolute;
  top: -5%;
  right: 10%;
  z-index: -69;
  width: 450px;
}
.graphic {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #373737;
  padding-top: 3%;
  margin: 12% 0;
  position: relative;
}
.graphic__group {
  display: flex;
  gap: 2%;
}
.graphic__group-item {
  width: 18%;
  border-radius: 45px;
  overflow: hidden;
  margin-top: 3%;
}
.graphic__group-picture {
  width: 100%;
  transition: all ease-in .3s;
}
.graphic__group-picture:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.designprocces,
.desingnprocces__group{
  display: flex;
  flex-direction: column;
  gap: 120px;
  color: #373737;
}
.desingprocces__group-row {
  display: flex;
  justify-content: space-between;
}
.desingprocces__group-item {
  display: flex;
  width: 31%;
  gap: 25px;
}
.desingprocces__item-picture {
  width: 90px;
}
.desingprocces__item-title {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 0.25px;
}
.desingprocces__item-title.yelow{
  color: #FFD84E;
} 
.desingprocces__item-title.red{
  color: #FB6363;
}
.desingprocces__item-title.violet{
  color: #A66DF5;
}
.desingprocces__item-title.gren{
  color: #6DD6B0;
}
.desingprocces__item-title.bleu{
  color: #708CF0;
}
.desingprocces__item-title.viol-darck{
  color: #A02E8E;
}
.desingprocces__item-subtitle {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1px;
}
.slaid {
  margin: 10% 0;
}
.slider {
  width: 1080px;
  margin: 0 auto;
  height: 676px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.slider-line {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  right: 0;
  transition: all ease-in 1.2s;
}
.slider-line img {
  height: 100%;
  width: 100%;
}
.slider__panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 50%;
  height: 30%;
  left: 7%;
  bottom: 7%;
  padding: 20px 60px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.80);
  z-index: 69;
}
.slider__text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.slider__title {
  color:#373737;
  font-size: 30px;
  font-weight: 400;
}
.slider__text-subtitle {
  color: #707070;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px;
}
.slider__panel-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__panel-btnDirection {
  display: flex;
  gap: 15px;
}
.slider__btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.slider__btn svg {
  transition: all ease-in .18s;
}
.slider__btn svg:hover {
  transform: scale(1.2);
}
.team {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.team__groupeOne {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.team__groupeTwo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 750px;
}
.team__item-picture {
  width: 100%;
  transition: all ease-in .25s;
}
.team__item-picture:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.team__item {
  display: flex;
  flex-direction: column;
  width: 24%;
  align-items: center;
}
.team__item-info {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 16px 30px;
  margin-top: -50px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(6.5px);
}
.team__item-title {
  color: #373737;
  font-size: 20px;
  font-weight: 500;
}
.team__item-prof {
  color: #3FC2BB;
  font-size: 13px;
  font-weight: 600;
}
.team__item-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 9px;
}
.team__item-group svg {
  transition: all ease-in .3s;
  color: #3FC2BB;
}
.team__item-group svg:hover {
  cursor: pointer;
  color: #329b96;
}
.down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 10% 1%;
  background-image: url(../img/header-backgraund.svg);
  background-blend-mode: color;
  background-color:rgba(0, 0, 0, 0.193);
  background-repeat: no-repeat;
  color: #FFF;
}
.down__title {
  font-size: 113px;
  font-weight: 400;
  line-height: 130%;
}
.down__subtitile {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  width: 60%;
}
.down__form {
  display: flex;
  gap: 25px;
}
.down__input {
  display: flex;
  width: 312px;
  padding: 16px 34px;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid #CAFFFD;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
}
.down__svgGroup {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.down__svgGroup svg:hover {
  cursor: pointer;
  transform: scale(1.1) ;
}
/* Footer */
.footer {
  background: #0B514D;
  color: #38B7AF;
  display: flex;
  justify-content: center;
  padding: 5% 0;
  gap: 2%;
}
.footer__listers {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  gap: 20px;
  width: 55%;
}
.newsletter-input {
  display: flex;
}
.footer__title {
  color: #F4F4F4;
  font-size: 18px;
  font-weight: 500;
}
.footer__list {
  width: 20%;
  margin-top: 10px;
}
.footer__list-link {
  color: #38B7AF;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.footer__list-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.newsletter-list,
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.newsletter__text {
  color: #CEFFFD;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
}
.newsletter-item-lable {
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
}