@media (max-width: 1380px) {
    .slider {
        width: 596px;
        height: 459px;
    }
    .title {
        font-size: 55px;
        line-height: 60px;
    }
    .header__nav {
        margin-bottom: 30px;
    }
    .subtitle {
        font-size: 17px;
        line-height: 25px;
    }
    .header__main-subtitle {
        width: 450px;
    }
}
@media (max-width: 1130px) {
    .slider {
        width: 483px;
        height: 370px;
    }
    .title {
        font-size: 40px;
        line-height: 53px;
    }
    .header__nav {
        margin-bottom: 30px;
    }
    .subtitle {
        font-size: 14px;
        line-height: 23px;
    }
    .header__main-subtitle {
        width: 380px;
    }
    .slider__panel-btn {
        gap: 10px;
    }
    .slider__panel {
        width: 85px;
        height: 78px;
    }
    .slider__btn:hover {
        transform: scale(1.1);
    }
    .slider__btn svg {
        width: 12px;
    }
    .brends {
        border: none;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    } 
    .product__item-title {
        font-size: 35px;
    }
    .shopp-btn {
        padding: 10px 25px;
        font-size: 15px;
    }
    .price {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .header__nav-menu {
        gap: 35px;
    }
    
}
@media (max-width: 940px) {
    .header__main {
        align-items: center;
    }
    .slider {
        width: 383px;
        height: 295px;
    }
    .product {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
    .price {
        font-size: 25px;
    }
    .product__item {
        width: 80%;
    }
    .popular__product-text {
        justify-content: center;
        align-items: center;
    }
    .popular__product-subtitle {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .popular__product-subtitle .subtitle {
        width: 80%;
    }
}
@media (max-width: 810px) {
    .header__main {
        flex-direction: column-reverse;
        gap: 100px;
    }
    .slider {
        width: 75%;
        height: auto;
    }
    .header__main-text {
        width: 95%;
        gap: 7px;
        align-items: center;
        text-align: center;
    }
    .header__main-subtitle {
        width: 80%;
    }
}
@media (max-width: 695px) {
    .header__nav {
        padding-bottom: 0;
        padding-top: 1%;
    }
    .header__nav-icn {
        display: none;
    }
    #menu {
        display: block;
    }
    .header__nav-menu {
        display: none;
    }
    .slider {
        display: none;
    }
    .header__main {
        background-image: url(../img/header__slider.png);
        background-repeat: no-repeat;
        background-attachment: cover;
        padding-bottom: 5%;
    }
    .header__main-title {
        color: #2e2220d8;
    }
    .header__main-subtitle {
        font-size: 17px;
        line-height: 25px;
        width: 100%;
    }
    .subtitle {
        font-size: 17px;
    }
    .product__item {
        width: 97%;
    }
    .popular__product-subtitle .subtitle {
        width: 85%;
    }
}
@media (max-width: 500px) {
    .product__item-title {
        font-size: 25px;
        line-height: 20px;
    }
    .shopp-btn {
        padding: 8px 10px;
        font-size: 12px;
    }
    .price {
        color: #222;
        font-size: 20px;
    }
    .popular__product-subtitle .subtitle {
        width: 100%;
    }
    .popular__product .title {
        font-size: 25px;
    }
}
@media (max-width: 425px) {
    .header__main-subtitle {
        color: #000000;
    }
    .brand__pictures {
        width: 150px;
    }
    .more-product {
        font-size: 18px;
    }
    .more-product img {
        width: 20px;
    }
    .popular__product-text {
        gap: 0px;
    }
    .popular__product-subtitle {
        gap: 10px;
    }

}