.c-hamburger {
  display: block;
  overflow: hidden;
  box-shadow: none;
  cursor: pointer;
  border: none;
  height: 30px;
  width: 30px;
  background-color: #F9F6F5;
  border-radius: 10px;
  font-size: 0;
  color: rgb(0, 0, 0);
}
.c-hamburger:focus {
  outline: none;
  transition: ease-in;
  transition-duration: .5s;
}
.c-hamburger.is-active {
  background-color: #614642;
  color: rgba(255, 255, 255, 0.705);
}
.c-hamburger.is-active:hover {
  color:white;
}
#menu {
  width: 30%;
  font-size: 0;
  background-color: inherit;
  z-index: 69;
  transition: all ease-in .5s;
}
#menu.nav-active {
  font-size: 20px;
  transition: all ease-in .5s;
  background-color: #614642;
}
.nav-active {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 15px;
  gap: 5px;
}
.menu__linck {
  color: rgba(255, 255, 255, 0.705);
  text-decoration: none;
}
.menu__linck:hover {
  color: white;
}