.header {
    padding-top: 50px;
    position: relative;

    .container {
        .header__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 15px;

            .img-logo {
                transition: all .4s ease-in-out;
            }

            &:hover .img-logo {
                transform: rotate(360deg);
            }
        }

        .header__nav-links {
            display: flex;
            align-items: center;
            gap: 42px;

            a {
                color: #fff;
                font-size: 12px;
                font-weight: 700;
                line-height: 12px;
                border-bottom: 1px solid #ffffff00;
                transition: all .2s ease-in-out;

                &:hover {
                    border-bottom: 1px solid #fff;
                }
            }
        }

        .header__nav-btn {
            display: flex;
            gap: 38px;

            button {
                border-radius: 40px;
                font-size: 12px;
                font-weight: 700;
                line-height: 15px;
                transition: all .25s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .header__btn {
                padding: 15px 36px;
                color: #fff;
                border: 2px solid #fff;
            }
        }

        .header__main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 125px;

            .header__main-text {
                display: flex;
                flex-direction: column;
                gap: 35px;
                color: #fff;
                width: 455px;
            }

            .caption {
                font-size: 40px;
                font-weight: 700;
                line-height: 48px;

                .color-1 {
                    background: linear-gradient(156.04deg, rgb(192, 183, 232), rgb(129, 118, 175));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .color-2 {
                    color: rgb(192, 183, 232);
                }
            }

            .header__main-btn {
                margin-top: 32px;
                display: flex;
                position: relative;
                width: 260px;

                .btn-decor {
                    position: absolute;
                    top: 6px;
                    left: 220px;
                    transition: all .3s ease-in-out;
                }

                .simple-btn {
                    transition: all .3s ease-in-out;
                }

                &:hover .btn-decor {
                    left: 260px;
                }

                &:hover .simple-btn {
                    transform: scale(1.03);
                }
            }

            .header__main-picture {
                width: 500px;
                height: 430px;

                img {
                    border: 20px solid rgba(0, 0, 0, 0.00);
                    border-radius: 120px 120px 130px 270px;
                    background-color: rgba(0, 0, 0, 0.13);
                }
            }
        }

        .contacts {
            margin-top: 100px;
            margin-bottom: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 50px;
            height: 167px;
            border-radius: 90px;
            box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
            background: #3A3456;
            background: -moz-radial-gradient(center, #3A3456 0%, #211E2E 100%);
            background: -webkit-radial-gradient(center, #3A3456 0%, #211E2E 100%);
            background: radial-gradient(ellipse at center, #3A3456 0%, #211E2E 100%);

            .contact {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            .contacts__inf {
                color: #fff;
                display: flex;
                flex-direction: column;
                gap: 2px;
                .title {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 29px;
                }

                .sub-title {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                }
            }
        }
    }
}