.vector {
    position: absolute;
    z-index: -10;
}
.vector-1 {
    right: 0;
}
.vector-2 {
    top: 0;
    right: 135px;
}
.vector-3 {
    top: 420px;
    right: 0;
}
.vector-4 {
    top: 275px;
    left: 0;
}